{{ form_start(form) }}
    {{ form_row(form.name, {'attr': {'class': 'form-control'}, 'label': 'Nom du badge :'}) }}
    <button type="submit" class="btn btn-primary">Soumettre</button>
{{ form_end(form) }}